@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: orange;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* height: 100%; */
    /* background-color: #3f374f; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-weight: bold; */
    /* line-height: 1.5; */
}

.white-space {
    height: 100px;
}

.hero-image {
    position: relative;
    height: 550px;
    overflow: hidden;
    background: url(/img/Landing\ Page\ 60.jpg) no-repeat center;
    background-size: cover;
}

.cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 700;
}

.cont h1 span {
    padding: 6px 14px;
    display: inline-block;
}

.desp {
    color: orange;
    margin: 20px;
    display: block;
    font-size: 8vh;
    text-shadow: 0 0 10px black;
}

.btn {
    color: orange;;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    background: #f1f1f1;
    border-radius: 8px;
    transition: 0.3s all;
}

.btn:hover {
    opacity: 0.8;
}

.top-nav a {
    font-size: 2vh;
    color: white;
    padding: 20px 10px;
}

.sticky{
    /* background-color: #6366f1; */
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navigation Bar Styling */

.bottom-nav { 
    padding: 15px 15px;
    background-color: orange;
    border-bottom: 5px solid orange;
}

.nav-item {
    font-weight: bold;
    padding: 0px 5px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 2.8vh;
    color: black;
}

a:hover {
    color: orange;
    opacity: 0.8;
}





/* @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
} */